@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }

  h2 {
    @apply font-bold text-black leading-[1.3]
	   text-[35px] sm:text-[45px] md:text-[56px];
  }

  h3 {
    @apply font-bold text-black leading-[1.3]
		text-[30px] sm:text-[40px];
  }

  h4 {
    @apply font-semibold text-black leading-[154%]
		text-[20px] sm:text-[24px];
  }

  html,
  body {
    @apply font-sans bg-[#f5f5f5];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  /* seo-marketing-serices */
  .max-w-1240 {
    @apply max-w-[1240px];
  }

  .max-w-640 {
    @apply max-w-[640px];
  }

  .leading-72 {
    @apply leading-[72.8px];
  }

  .card-icon {
    @apply w-7 h-7;
  }

  .footer-img {
    @apply relative z-10 w-20 h-20 translate-x-2 translate-y-2 bg-cover rounded-full;
  }

  .footer-img-border {
    @apply absolute w-[120%] h-[120%] bg-red-800 inset-0 rounded-full;
  }

  .seo-audit-article h2,
  .seo-audit-article h3,
  .seo-audit-article h4 {
    @apply text-black-80;
  }

  .seo-audit-article p,
  .seo-audit-article ul {
    @apply text-black-70;
  }
}

.seo-marketing-services-ads {
  background-position: center;
  background-size: cover;
  padding: 60px 40px;
  position: relative;
}

.seo-marketing-services-ads::after {
  content: "";
  position: absolute;
  background: #2e1e34e5;
  inset: 0;
}

.seo-audit-services-ads {
  background-position: center;
  background-size: cover;
  padding: 60px 40px;
  position: relative;
}

.seo-audit-services-ads::after {
  content: "";
  position: absolute;
  background: #083a74cc;
  inset: 0;
}
